.help-desk {
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
  text-align: center;
  position: relative;
  justify-content: center;


  flex-direction: column;
  align-items: center;

  h2 {
    color: #333;
    margin-bottom: 15px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;

  button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover,
    &.active {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
    }
  }
}

.ticket-container {
  display: fixed;
  flex-direction: column;
  gap: 15px;

  .ticket-section {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;

    h3 {
      color: #555;
      margin-bottom: 10px;
    }

    .no-tickets {
      color: #999;
      font-style: italic;
    }
  }
}

.ticket {
  background: rgb(129, 147, 133);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.02);
  }

  .ticket-info {

    background: rgb(212, 212, 212);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex;

    p {
      font-size: 14px;
      font-weight: bold;
      padding: 12px;
      border-radius: 6px;
      
    }

    .timestamp {
      font-size: 12px;
      color: #777;
      padding: 12px;
    }
  }

  .level {
    font-size: 12px;
    padding: 12px;
    border-radius: 15px;
    font-weight: bold;
    white-space: nowrap;
  }

  .level-1 {
    background: #ffeb3b;
    color: #333;
  }

  .level-2 {
    background: #ff9800;
    color: white;
  }

  .level-3 {
    background: #e53935;
    color: white;
  }
}
