<div class="help-desk">
  <h2>Help Desk Tickets</h2>

  <!-- Filter Buttons -->
  <div class="filters">
    <button [class.active]="filterLevel === null" (click)="filterLevel = null">All</button>
    <button [class.active]="filterLevel === 1" (click)="filterLevel = 1">Level 1</button>
    <button [class.active]="filterLevel === 2" (click)="filterLevel = 2">Level 2</button>
    <button [class.active]="filterLevel === 3" (click)="filterLevel = 3">Level 3</button>
  </div>

  <!-- Ticket Sections -->
  <div class="ticket-container">
  
    @for(status of statuses; track status)
    {
      <div class="ticket-section" >
        <h3>{{ status }}</h3>

        @if(hasTickets(status)){
          <p>Tickets Overview</p>
          @for(t of filteredStatus(status); track t.id){
            <div class="ticket">
              <p class="p">#{{ t.id }} {{ t.title }}  ----- </p>
              <br />
              <span class="level level-{{ t.level }}"> Level  {{ t.level }}</span> 
                <div class="ticket-info">
                  <span class="timestamp">{{ t.timestamp }} - </span>
                  
                  <span > {{ t.description }} </span>
              </div>
            </div>
          }
        } @else {
          {{noTickets}}
        }
      

        <ng-template #noTickets>
          <p class="no-tickets">No tickets available</p>
        </ng-template>
      </div>
    }@empty {<p>There are no items.</p>}
  </div>

</div>
