<h1>Create Ticket </h1>

<form [formGroup]="ticketForm" #formDirective="ngForm" (ngSubmit) = "postTicket(ticketForm.value)" novalidate>
        <mat-form-field class="ticket">
            <mat-label>title</mat-label>
            <input matInput placeholder="Write title" formControlName="title">
        </mat-form-field>
        
        <mat-form-field class="ticket">
            <mat-label>description</mat-label>
            <input matInput  placeholder="Write description" formControlName="description">
        </mat-form-field>

        <mat-form-field class="ticket">
            <mat-label>Status</mat-label>
            <mat-select>
            @for (status of statuses; track status) {
                <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
            }
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="ticket">
            <mat-label>Status</mat-label>
            <mat-select>
            @for (level of levels; track level) {
                <mat-option [value]="level.value">{{level.viewValue}}</mat-option>
            }
            </mat-select>
        </mat-form-field>
    <button 
    color="accent" 
    [disabled] = "!ticketForm.valid" 
    mat-raised-button 
    type="submit">
    <span>Create Ticket</span>
    </button>
</form>